@charset "UTF-08";

@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100..700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --font-primary: 'Inter', sans-serif;
    --font-secondary: 'Josefin Sans', sans-serif;

    --color-primary: #EDE4DB;
    --color-primary-transparent: rgba(219, 209, 199, 0.8);
    --color-secondary: #BA9D8A;
    --color-secondary-transparent: rgba(186, 157, 138, 0.8);
    --color-tertiary: #5A3E2D;
    --color-tertiary-transparent: rgba(90, 62, 45, 0.8);
    --color-accent: #341F1A;
}

body {
    background-color: var(--color-secondary);
    font-family: var(--font-secondary);
}

h1 {
    font-family: var(--font-primary);
    color: var(--color-primary);
    font-size: 2.5rem;
    text-align: center;
    line-height: 1em;
}

h2 {
    font-family: var(--font-secondary);
    font-weight: bold;
    font-size: 5.5rem;
    text-align: center;
    color: var(--color-primary);
    text-shadow: 0px 4px 10px black;
}

h3 {
    font-family: var(--font-secondary);
    color: var(--color-tertiary);
    font-size: 1.5rem;
    line-height: 3rem;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
p {
    font-family: var(--font-secondary);
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: var(--color-accent);
    font-weight: bold;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    height: 10vh;
}
nav img {
    width: 200px;
    cursor: pointer;
}

.nav_links {
    display: flex;
}

.nav_links li{
    letter-spacing: 2px;
    margin-left: 30px;
    list-style: none;
}

.nav_links li a:hover {
    color: var(--color-primary);
    text-decoration: underline;
    text-shadow: 1px 1px 5px var(--color-accent);
    transition: 0.2s;
}

#img01 {
    background-image: url(imagens/hero_coffee.jpg);
    position: relative;
    background-size: cover;
    background-position: right center;
    background-attachment: fixed;
    width: 100%;
    height: 70vh;
}

div#title_container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 40px 20px;
    background-color: var(--color-tertiary-transparent);
    max-width: 60vh;
    height: 30vh;
    border-radius: 20px;
    box-shadow: 2px 2px 10px var(--color-accent);
}

#title_container > p {
    font-size: 1rem;
    margin-bottom: 20px;
    color: var(--color-primary);
    text-align: center;
}

.no_image {
    background-image: linear-gradient(to bottom, var(--color-accent), var(--color-secondary));
    height: 400px;
    box-shadow: inset 0 6px 10px var(--color-accent);
    position: relative;
}

.coffee_beans_bg {
    width: 100%;
    height: 400px;
}

.no_image h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.recipe-container {
    background-color: var(--color-primary-transparent);
    border-radius: 20px;
    height: 70%;
    width: fit-content;
    padding: 40px;
    position: absolute;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
}

ul, ol {
    font-family: var(--font-secondary);
    font-size: 1.2rem;
    margin: 10px 20px;
    line-height: 1.5rem;
}

#img02 {
    background-image: url(imagens/americano-coffee.jpg);
    background-size: cover;
    background-position: left center;
    background-attachment: fixed;
    width: 100%;
    height: 70vh;
    position: relative;
}

#img02 .recipe-container {
    top: 50%;
    right: 50%;
    transform: translate(10%, -50%);
}

#img02 h3 {
    color: var(--color-accent);
}

#img02 ul, #img02 ol {
    color: var(--color-accent);
}

#img03 {
    background-image: url(imagens/cappuccino_background.jpg);
    background-size: cover;
    background-position: right center;
    background-attachment: fixed;
    width: 100%;
    height: 70vh;
    position: relative;
    box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.5);
}

#img03 .recipe-container {
    background-color: var(--color-tertiary-transparent);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-10%, -50%);
    height: 80%;
}
#img03 h3 {
    color: var(--color-primary);
    font-size: 1.2rem;
}

#img03 ul, #img03 ol {
    color: var(--color-primary);
    font-size: 1rem;
    line-height: 1.2rem;
}

button {
    background-color: var(--color-accent);
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
}

button:hover {
    box-shadow: 0px 6px 15px var(--color-primary);
    transition: 0.5s;
}

button a {
    color: var(--color-primary);
    font-weight: bold;
}

button a:hover {
    color: var(--color-secondary);
    text-shadow: 0 1px 5px var(--color-accent);
    text-decoration: underline;
    transition: 0.5s;
}

footer {
    height: 15vh;
    position: relative;
}